/NPM06989Modul4Laundry/build/
/NPM06989Modul5Laundry/nbproject/private/
/NPM06989_Karyawan (copy)/build/
/NPM06989_Karyawan (copy)/nbproject/private/
/Dosen/NPM06989_Karyawan/nbproject/private/
/Dosen/NPM06989_Karyawan/build/
/Praktikum/NPM06989PraktikumModul2/dist/
/Praktikum/NPM06989PraktikumModul2/build/
/Praktikum/NPM06989PraktikumModul2/nbproject/private/