/NPM06989Modul4Laundry/build/
/NPM06989Modul5Laundry/nbproject/private/
/NPM06989_Karyawan (copy)/build/
/NPM06989_Karyawan (copy)/nbproject/private/
/Dosen/NPM06989_Karyawan/nbproject/private/
/Dosen/NPM06989_Karyawan/build/
/Praktikum/NPM06989PraktikumModul2/dist/
/Praktikum/NPM06989PraktikumModul2/build/
/Praktikum/NPM06989PraktikumModul2/nbproject/private/
/Dosen/PenilaianUjianDosen/nbproject/private/
/Dosen/PenilaianUjianDosen/build/
/Praktikum/SistemPerpustakaan/nbproject/private/
/Praktikum/ZooRacer/build/
/Praktikum/ZooRacer/nbproject/private/
/Praktikum/SistemPerpustakaan/build/
/Praktikum/Catering/nbproject/private/
/Praktikum/Catering/build/
/Praktikum/modul4Ipit/nbproject/private/
/NPM06989Modul5Laundry/build/
/Praktikum/NPM06989Modul6Laundry/nbproject/private/
/Praktikum/NPM06989Modul6Laundry/build/
/Praktikum/NPM06989Modul6Laundry/dist/
/NPM06989Modul6Laundry/build/
/NPM06989Modul6Laundry/dist/
/NPM06989Modul6Laundry/nbproject/private/
/Praktikum/PenilaianUjianMahasiswa/nbproject/private/
/Praktikum/PAA/nbproject/private/
/Praktikum/PAA/build/
/Praktikum/PenilaianUjianMahasiswa/build/
/Praktikum/Modul6Kamus/dist/
/Praktikum/Modul6Translator/nbproject/private/
/Praktikum/Modul6Translator/build/